* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#container {
    width: 420px;
    margin: 20px;
    text-align: center;
}

#blockchain-container {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-height: 500px; /* Set a maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.block {
    background-color: #4caf50;
    width: 100%;
    max-width: 380px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word; /* Ensures long words break onto a new line */
    word-break: break-all; /* Prevents hashes from overflowing */
    transition: transform 0.3s;
}

.block strong {
    font-size: 16px;
}

.block:hover {
    transform: scale(1.05);
}
